<div ng-controller="AjaxCtrl">
	<h1>Api#index</h1>
	<p>Find me in app/views/api/index.html.erb</p>
	<input type="text" ng-model="search">
	<ul>
		<li ng-repeat="item in find">{{item.name}}</li>
	</ul>
</div>

