
<%= form_for @user do |f| %>

	<% @user.errors.full_messages.each do |error| %>
		<%= error %>
	<% end %>
	<div>
		<%= f.label :name, "name" %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :age, "age" %>
		<%= f.text_field :age %>
	</div>
	<div>
		<%= f.label :info, "inform" %> 
		<%= f.text_area :info %>
	</div>
	<div>
		<%= f.submit "submit" %>
	</div>
<% end %>