<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<div><%= @user.name %></div>
<div><%= @user.age %></div>
<div><%= @user.info %></div>
<%=link_to "delete", @user, method: :delete, data: {confirm: "Уверены?"} %>